.button {
  border: none;
  border-radius: 8px;
  padding: 12px 24px;
  background-color: var(--color-blue);
  font-size: 0.875rem;
  font-weight: 700;
  color: #ffffff;
  cursor: pointer;
}

.button:hover {
  filter: brightness(0.9);
}

.button:disabled {
  background-color: lightgrey;
  color: inherit;
  cursor: not-allowed;
}
