.header {
  width: 100%;
  padding: 24px;
  background-color: var(--color-navy);
}

.logo {
  color: #ffffff;
  margin: 0;
}

@media (min-width: 768px) {
  .header {
    padding: 32px;
  }
}

@media (min-width: 1200px) {
  .header {
    padding: 48px 144px;
  }
}
