.wrapper {
  padding: 8px;
  border-radius: 8px;
  border: 1px solid lightgray;
  background-color: #eff1f2;
  display: flex;
}

.wrapper:focus-within {
  outline: 2px solid blue;
}

.input {
  flex-grow: 1;
  border: none;
  background: none;
  padding: 0;
  font-size: 1rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.input:focus {
  outline: none;
}

.clear {
  border: none;
  background: none;
  width: 24px;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
}

.clear svg {
  width: 75%;
  fill: var(--color-grey-dark);
}