.wrapper {
  width: 100%;
  height: 75px;
  background-color: #ffffff;
  border: 3px solid transparent;
  overflow: hidden;
}

.wrapper.has-clear-button {
  display: grid;
  grid-template-columns: 1fr 36px;
}

.wrapper.active {
  outline: 1px solid #ffffff;
  border: 3px solid var(--color-blue);
}

.round-left-corners {
  border-radius: 12px 0px 0px 12px;
}

.round-right-corners {
  border-radius: 0px 12px 12px 0px;
}
