.card {
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 1px 3px 0 rgba(37, 32, 31, 0.3);
  transition: box-shadow 0.1s ease-out;
  overflow: hidden;
}

.card:hover {
  box-shadow: 0 1px 3px 0 rgba(37, 32, 31, 0.6);
}
