.leg {
    width: 100%;
    display: flex;
}

.airline,
.origin,
.journey,
.destination {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.airline {
    flex: 1;
    margin-right: 16px;
}

.origin {
    flex: 1;
}

.journey {
    flex: 2;
}

.airline span,
.journey span {
    font-size: 0.75rem;
    text-align: center;
}

.destination {
    flex: 1;
}

.takeoff-time {
    font-weight: 700;
}

.journey-graphic {
    display: flex;
    align-items: center;
    width: 100%;
}

.line {
    background-color: var(--color-black);
    height: 2px;
    flex-grow: 1;
}

.journey-graphic svg {
    width: 16px;
    margin-left: 2px;
    fill: #545860;
}

.detail-span {
    color: #545860;
}

.iata {
    border-radius: 12px;
    padding: 2px 6px;
}

.iata.highlight {
    background-color: rgba(231,8,102,.2);
}

.day-overflow-wrapper {
    position: relative;
}

.day-overflow {
    font-size: 0.75rem;
    position: absolute;
    top: 0;
    margin-left: 4px;
}

