.card {
  width: 100%;
  display: flex;
  align-items: center;
}

.card img {
  background-color: lightgray;
  width: 90px;
  height: 90px;
}

.copy {
  flex-grow: 1;
  margin-left: 16px;
}

.copy h3 {
  font-size: 1rem;
  margin: 0;
}
