.card-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.flight-info {
  flex: 3;
  display: flex;
  padding: 16px;
}

.airlines {
  flex: 1;
}

.flight-legs {
  flex: 3;
}

.airlines,
.flight-legs {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 24px;
}

.airline {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.airline span {
  font-size: 0.75rem;
  text-align: center;
  color: #545860;
}

.cta {
  border-top: 1px solid lightgray;
  flex: 1;
  display: flex;
  justify-content: flex-end;
  padding: 16px;
}

.price {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 16px;
}

.price-label {
  color: #545860;
  font-size: 0.75rem;
  margin-bottom: 8px;
}

.price-total {
  font-size: 1.25rem;
  font-weight: 700;
}

@media (min-width: 768px) {
  .card-content {
    flex-direction: row;
  }

  .flight-info,
  .cta {
    padding: 24px;
  }

  .cta {
    border-top: none;
    border-left: 1px solid lightgray;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .price {
    margin-right: 0;
    margin-bottom: 8px;
  }
}
